# With the success of Atom, it's really difficult to choose keybindings that
# will not enter in conflict whit anyone else's packages, so I let this file
# empty to set your own keybindings.
# For you informations, here's an exemple of my keybindings for pane-manager

# '.platform-linux atom-workspace, .platform-win32 atom-workspace':
#   # Layout management
#   'ctrl-k ctrl-l ctrl-1': 'pane-manager:change-layout-one'
#   'ctrl-k ctrl-l ctrl-2': 'pane-manager:change-layout-two'
#   'ctrl-k ctrl-l ctrl-3': 'pane-manager:change-layout-three'
#   'ctrl-k ctrl-l ctrl-4': 'pane-manager:change-layout-four'
#   'ctrl-k ctrl-l ctrl-5': 'pane-manager:change-layout-five'
#   'ctrl-k ctrl-l ctrl-6': 'pane-manager:change-layout-six'
#   'ctrl-k ctrl-l ctrl-7': 'pane-manager:change-layout-seven'
#   'ctrl-k ctrl-l ctrl-8': 'pane-manager:change-layout-eight'
#   'ctrl-k ctrl-l ctrl-9': 'pane-manager:change-layout-nine'
#   'ctrl-k ctrl-l ctrl-0': 'pane-manager:change-layout-ten'
#   # Move to pane
#   'ctrl-k ctrl-m ctrl-1': 'pane-manager:move-to-pane-one'
#   'ctrl-k ctrl-m ctrl-2': 'pane-manager:move-to-pane-two'
#   'ctrl-k ctrl-m ctrl-3': 'pane-manager:move-to-pane-three'
#   'ctrl-k ctrl-m ctrl-4': 'pane-manager:move-to-pane-four'
#   'ctrl-k ctrl-m ctrl-5': 'pane-manager:move-to-pane-five'
#   'ctrl-k ctrl-m ctrl-6': 'pane-manager:move-to-pane-six'
#   'ctrl-k ctrl-m ctrl-7': 'pane-manager:move-to-pane-seven'
#   'ctrl-k ctrl-m ctrl-8': 'pane-manager:move-to-pane-eight'
#   'ctrl-k ctrl-m ctrl-9': 'pane-manager:move-to-pane-nine'
#   'ctrl-k ctrl-m ctrl-0': 'pane-manager:move-to-pane-ten'
#   # Focus to pane
#   'ctrl-k ctrl-f ctrl-1': 'pane-manager:focus-to-pane-one'
#   'ctrl-k ctrl-f ctrl-2': 'pane-manager:focus-to-pane-two'
#   'ctrl-k ctrl-f ctrl-3': 'pane-manager:focus-to-pane-three'
#   'ctrl-k ctrl-f ctrl-4': 'pane-manager:focus-to-pane-four'
#   'ctrl-k ctrl-f ctrl-5': 'pane-manager:focus-to-pane-five'
#   'ctrl-k ctrl-f ctrl-6': 'pane-manager:focus-to-pane-six'
#   'ctrl-k ctrl-f ctrl-7': 'pane-manager:focus-to-pane-seven'
#   'ctrl-k ctrl-f ctrl-8': 'pane-manager:focus-to-pane-eight'
#   'ctrl-k ctrl-f ctrl-9': 'pane-manager:focus-to-pane-nine'
#   'ctrl-k ctrl-f ctrl-0': 'pane-manager:focus-to-pane-ten'
#
# '.platform-darwin atom-workspace':
#   # Layout management
#   'cmd-k cmd-l cmd-1': 'pane-manager:change-layout-one'
#   'cmd-k cmd-l cmd-2': 'pane-manager:change-layout-two'
#   'cmd-k cmd-l cmd-3': 'pane-manager:change-layout-three'
#   'cmd-k cmd-l cmd-4': 'pane-manager:change-layout-four'
#   'cmd-k cmd-l cmd-5': 'pane-manager:change-layout-five'
#   'cmd-k cmd-l cmd-6': 'pane-manager:change-layout-six'
#   'cmd-k cmd-l cmd-7': 'pane-manager:change-layout-seven'
#   'cmd-k cmd-l cmd-8': 'pane-manager:change-layout-eight'
#   'cmd-k cmd-l cmd-9': 'pane-manager:change-layout-nine'
#   'cmd-k cmd-l cmd-0': 'pane-manager:change-layout-ten'
#   # Move to pane
#   'cmd-k cmd-m cmd-1': 'pane-manager:move-to-pane-one'
#   'cmd-k cmd-m cmd-2': 'pane-manager:move-to-pane-two'
#   'cmd-k cmd-m cmd-3': 'pane-manager:move-to-pane-three'
#   'cmd-k cmd-m cmd-4': 'pane-manager:move-to-pane-four'
#   'cmd-k cmd-m cmd-5': 'pane-manager:move-to-pane-five'
#   'cmd-k cmd-m cmd-6': 'pane-manager:move-to-pane-six'
#   'cmd-k cmd-m cmd-7': 'pane-manager:move-to-pane-seven'
#   'cmd-k cmd-m cmd-8': 'pane-manager:move-to-pane-eight'
#   'cmd-k cmd-m cmd-9': 'pane-manager:move-to-pane-nine'
#   'cmd-k cmd-m cmd-0': 'pane-manager:move-to-pane-ten'
#   # Focus to pane
#   'cmd-k cmd-f cmd-1': 'pane-manager:focus-to-pane-one'
#   'cmd-k cmd-f cmd-2': 'pane-manager:focus-to-pane-two'
#   'cmd-k cmd-f cmd-3': 'pane-manager:focus-to-pane-three'
#   'cmd-k cmd-f cmd-4': 'pane-manager:focus-to-pane-four'
#   'cmd-k cmd-f cmd-5': 'pane-manager:focus-to-pane-five'
#   'cmd-k cmd-f cmd-6': 'pane-manager:focus-to-pane-six'
#   'cmd-k cmd-f cmd-7': 'pane-manager:focus-to-pane-seven'
#   'cmd-k cmd-f cmd-8': 'pane-manager:focus-to-pane-eight'
#   'cmd-k cmd-f cmd-9': 'pane-manager:focus-to-pane-nine'
#   'cmd-k cmd-f cmd-0': 'pane-manager:focus-to-pane-ten'
